# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
venv/
.streamlit/
.vscode/
data/

# mkdocs documentation
/site

poetry.toml